build/
dist/
**/__pycache__/**
venv/
.vscode/
.idea/

.mypy_cache
.pytest_cache
.coverage

vetur.config.js

beamer/agent/data/relayers
relayer/relayer-*-x64
addresses.json

node_modules
contracts/contracts/.cache
contracts/.build/
/deployments-npm-package/git-commit-version.txt
docs/source/contracts-addresses.rst