[MASTER]
jobs=4
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no
load-plugins=plugins.pylint

# Blacklist files or directories (basenames, not paths)
ignore=

# blacklist files or directories by regex  (basenames, not paths)
ignore-patterns=

[EXCEPTIONS]

overgeneral-exceptions=builtins.Exception

[BASIC]

bad-names=foo,bar,baz,toto,tutu,tata
good-names=i,j,k,_,log

[LOGGING]

logging-modules=logging,structlog

[MESSAGES CONTROL]

disable=
    missing-class-docstring,
    missing-module-docstring,
    missing-function-docstring,
    missing-timeout,
    too-many-lines,
    too-many-locals,
    too-many-branches,
    too-many-arguments,
    too-many-statements,
    too-many-return-statements,
    too-many-instance-attributes,
    invalid-name,
    no-value-for-parameter,
    consider-using-f-string,
    redefined-outer-name,
    global-statement,
    unreachable,
    use-dict-literal,
    fixme,
    unspecified-encoding,
    broad-exception-caught,
    too-few-public-methods,
    super-init-not-called,
    c-extension-no-member,
    redefined-argument-from-local,
    global-variable-not-assigned,
    used-before-assignment,
    protected-access,

[REPORTS]

reports=no
score=no

[FORMAT]

expected-line-ending-format=LF
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
max-line-length=100

[VARIABLES]

callbacks=cb_,_cb
dummy-variables-rgx=_
ignored-argument-names=_.*

[TYPECHECK]

contextmanager-decorators=contextlib.contextmanager

# List of class names for which member attributes should not be checked
ignored-classes=

# List of module names for which member attributes should not be checked
ignored-modules=

# List of members which are set dynamically and missed by pylint inference system
generated-members=ape.reverts,web3.types.TxReceipt.status
