plugins:
  - name: solidity
  - name: ganache
  - name: alchemy
  - name: infura
  - name: optimism
  - name: arbitrum
  - name: etherscan
  - name: polygon-zkevm
  - name: base

contracts_folder: contracts/contracts

dependencies:
  - github: OpenZeppelin/openzeppelin-contracts
    name: OpenZeppelin
    version: 4.8.0
  - name: Interfaces
    local: ./contracts
    contracts_folder: ./interfaces
  - name: Optimism
    local: ./contracts/contracts/chains/
    contracts_folder: ./optimism
  - name: Polygon-ZkEVM
    local: ./contracts/contracts/chains/
    contracts_folder: ./polygon_zkevm
  - name: ZkSync
    local: ./contracts/contracts/chains/
    contracts_folder: ./zksync

default_ecosystem: ethereum

solidity:
  evm_version: london
  version: 0.8.19
  import_remapping:
    - 'OpenZeppelin/openzeppelin-contracts@4.8.0/contracts=OpenZeppelin/4.8.0'
    - 'interfaces=Interfaces'
    - 'optimism=Optimism'
    - 'polygon_zkevm=Polygon-ZkEVM'
    - 'zksync=ZkSync'

ganache:
  server:
    port: 8545
  miner:
    gas_price: 0
  chain:
    hardfork: istanbul

test:
  mnemonic: brownie
  number_of_accounts: 10
  hd_path: m/44'/60'/0'/0/{}

ethereum:
  local:
    default_provider: ganache
    default_transaction_type: 0