[tool.poetry]
name = "beamer-bridge"
version = "0.1.0"
description = "Bridging rollups with L1 guaranteed security"
authors = ["Beamer Bridge Team <contact@beamerbridge.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://www.beamerbridge.com/"
repository = "https://github.com/beamer-bridge/beamer"
documentation = "https://docs.beamerbridge.com/"
packages = [
    { include = "beamer" },
]

[tool.poetry.dependencies]
python = ">=3.9, <3.10"
web3 = "^5.24.0"
click = "^8.0.3"
structlog = "^21.5.0"
python-statemachine = "^0.8.0"
prometheus-client = "^0.14.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
black = "^22.1"
isort = "^5.10.1"
flake8 = "^4.0.1"
flake8-tuple = "^0.4.1"
flake8-bugbear = "^22.7.1"
mypy = "^0.961"
eth-account = "^0.5.6"
eth-brownie = "^1.19.0"
pylint = "^2.14.4"
types-pkg-resources = "^0.1.3"
types-requests = "^2.28.0"
pdbpp = "^0.10.3"
pytest-cov = "^3.0.0"
shiv = "^1.0.1"
Sphinx = "^5.0.2"
furo = "^2022.6.21"
sphinxcontrib-mermaid = "^0.7.1"
sphinxcontrib-soliditydomain = {git = "https://github.com/beamer-bridge/sphinxcontrib-soliditydomain.git", rev = "main"}

[tool.poetry.scripts]
beamer-agent = 'beamer.cli:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 99
include = '\.pyi?$'
extend-exclude = '''
/(
    \.git
  | \.mypy_cache
  | build
  | dist
)/
'''

[tool.isort]
line_length = 99
profile = "black"
multi_line_output = 3
ignore_whitespace = true

[[tool.mypy.overrides]]
module = ["brownie.*", "twisted.*"]
ignore_missing_imports = true

[tool.mypy]
python_version = 3.9
warn_unused_configs = true
ignore_missing_imports = true
check_untyped_defs = true
warn_unused_ignores = true
strict_equality = true
disallow_untyped_defs = true

[[tool.mypy.overrides]]
module = ["beamer.tests.*"]
disallow_untyped_defs = false

[tool.pytest.ini_options]
filterwarnings = "ignore:Development network has a block height of"

[tool.coverage.run]
source = ["beamer"]
omit = ["beamer/tests/*"]
