$primary: #ebab34;
$primary-light: #e8bf74;
$background-color-light: #4eadaa;
$background-color: #00404b;
$background-color-dark: #001b23;
$text-color: #4eadaa;
$text-color-light: #fffefe;
$text-color-dark: #00404b;
$placeholder-color: #00000040;
$error-color: #ff4757;
$color-green: #64FA7C;
$color-green-lime: #ADFF00;
$color-orange: #F5AC37;
$color-orange-dark: #E55A39;